<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Main</title>
  </head>
  <body>
    <div>
      <div>
        <h1>Home</h1>
        <p>회원 기능</p>
        <ul>
          <li><a href="/users/join">회원가입</a></li>
          <li><a href="/users">회원 목록</a></li>
        </ul>
      </div>
    </div>
  </body>
</html>
